@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Rubik+Iso&display=swap');

*{
  margin: 0;  
  padding: 0;
}

/* HEADER */

.header{
    box-shadow: 1px 8px 10px  6px;
}
.header div{
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 0;
    max-width: 900px;
    max-height: 200vh;
    margin: auto;
    align-items: center;
}

.header img{
    width: 250px;
}

.nav {
    text-transform: uppercase;
    padding: 7px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.nav li{
    margin: 0 20px;
}

.nav a {
    color: #a00606;
    text-decoration: none;
}

/* MAIN INDEX */

#main-index {
    font-family: sans-serif;
    max-width: 1050px;
    margin: auto;
    background-color: #532c04;
    display: grid; 
    grid-template-columns: 100%; 
    grid-template-areas: 
      "titular "
      "carousel "
      ; 
}

.inicio h1{
    text-transform: uppercase;
    font-size: 35px;
    grid-area: inicio;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    justify-items: center;
}
.inicio h2{
    text-transform: uppercase;
    font-size: 35px;
    grid-area: inicio;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    justify-items: center;
}
.inicio div{
    color: white;
    background-color: #ce8740;
    max-width: 1050px;
    box-shadow: -3px 2px 13px 6px black;
}
.parrafo{
    display: grid;
    justify-items: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.parrafo-fecha{
    display: grid;
    justify-items: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.carousel{
    grid-area: carousel;
}
.carousel-item{
    max-width: max-content;
}
.carousel p{
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    
}
#main-index h1{
    margin: 20px 0;
    
}

#main-index .categoria {
    background-color: #DD3333;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    display: inline;
    padding: 5px 10px;
    border-radius: 5px;
    justify-items: center;
}

#main-index .fecha {
    font-size: 10px;
}

#main-index img{
    margin: 30px 0;
}

#main-index p{
    margin: 20px 0;
}

/* FOOTER */

.footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-family: sans-serif;
}

/*MOBILE LAST*/

@media (max-width: 1000px) {
    #main-index {
        grid-template-columns: 100%; 
        grid-template-areas: 
          "inicio"
          "carousel"
          
    }
}