@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Rubik+Iso&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  box-shadow: 1px 8px 10px 6px;
}
.header div {
  display: flex;
 
  max-width: 900px;
  max-height: 200vh;
  margin: auto;
 
}

.header img {
  width: 25%;
}
.header div{
    flex-wrap: nowrap;
    justify-content: space-between
}
.navbar{
    background: none;
}
/* MAIN INDEX */

#main-index {
  font-family: sans-serif;
  max-width: 1050px;
  margin: auto;
}

.inicio h1 {
  text-transform: uppercase;
  font-size: 35px;
  grid-area: inicio;
  font-family: "Montserrat", sans-serif;
  display: grid;
  justify-items: center;
}
.inicio h2 {
  text-transform: uppercase;
  font-size: 35px;
  grid-area: inicio;
  font-family: "Montserrat", sans-serif;
  display: grid;
  justify-items: center;
}
.inicio div {
  color: white;
  background-color: #ce8740;
  max-width: 1050px;
  box-shadow: -3px 2px 13px 6px black;
}

.hero-pan h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  color: #532c04;
}
.content-pan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.hero-pan p {
  color: #707070;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.content-img-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.productos h1 {
  text-align: center;
  color: #532c04;
  margin-bottom: 2.5rem;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 2.5rem;
}

.container-img a{
    display: flex;
    max-width: 400px;
    align-content: center;
    margin: auto;
    flex-direction: column
}
#main-index h1 {
  margin: 20px 0;
}

#main-index .categoria {
  background-color: #dd3333;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  justify-items: center;
}

#main-index img {
  margin: 30px 0;
}
.container-img img:hover {
  display: flex;
  margin: auto;
  transition: all 0.3s;
  transform: scale(1.03);
}

#main-index p {
  margin: 20px 0;
}

/* FOOTER */

.footer {

  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
}
.footer a img{
    display: flex;
    max-width: 10%;
    max-height: 10%;
    
}
.footer .redes img{
    display: inline;
    max-width: 50px;
    max-height: 50 px;
    margin: 0 30px;
    box-shadow:-3px 4px 2px 0px #ffffff;
    border-radius: 2px;
}

/*MOBILE LAST*/

@media (min-width: 1200px) {
  
}
